body {
  background-color: #282828;

  color: #eeeeee;

  height: 100%;
  width: 100%;

  margin: 0;

  position: fixed;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #afdde5;
}

h2 {
  color: #04a4af;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a {
  color: #04a4af;
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header {
  margin: 0;

  margin-top: 20px;
  margin-left: 30px;

  flex: 1;
}

.mainPage {
  flex: 30;

  overflow: scroll;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-right: 30px;
  margin-left: 30px;
}

.imageAndTextContainer {
  display: flex;
}

#inlineLink {
  color: #e522e5;
}

.photoOfMe {
  margin-right: 15px;
}

.navigator {
  background-color: #444;

  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: stretch;

  color: #e522e5;
  flex: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin: 0 10px 10px 10px;

  -moz-box-shadow: 0px 3px 8px rgb(100, 100, 100);
  -webkit-box-shadow: 0px 3px 8px rgb(100, 100, 100);
  box-shadow: 0px 3px 8px rgb(100, 100, 100);
}
